.container {
    display: flex;
    width: 500px;
    height: 400px;
    flex-direction: column;
    margin: auto;
    inset: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to top, rgba(39, 39, 211, 0.76), rgba(104, 104, 204, 0.904), rgba(58, 197, 24, 0.966));
}

.confirmTxt {
    color: #fff;
    text-shadow: 2px -2px 2px black;
}

input {
    margin: 2%;
}

#enterPass , #confirmPass {
    display: flex;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 0 30px 0 30px;
    text-align: center;
}

#confirmPass {
    border-radius: 30px 0px 30px 0px;

}

#enterPass:focus , #confirmPass:focus {
    transition-duration: .6s;
    outline-width: 0;
}

.submitBtn {
    padding: 1% 5%;
    cursor: pointer;
}

.messageTxt {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    font-size: smaller;
    margin-top: 0%;
}